<div class="container">
    <div class="col-md-12 my-2">
        <div class="row">
            <div class="col-md-4 dropdown-container py-2 d-flex">
                <div class="btn-group" dropdown>
                    <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                        aria-controls="dropdown-animated">
                        Select State <span class="caret"></span>
                    </button>
                    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-animated">
                        <li role="menuitem"><a class="dropdown-item" *ngFor="let state of allStates"
                                (click)="selectedState(state)">{{state}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <p class="my-auto text-center" *ngIf="userSelectedState.length>0 || userSelectedDistrict.length>0">
                    Selected Path: <br>
                    {{userSelectedState}} <span *ngIf="userSelectedDistrict.length > 0">>
                        {{userSelectedDistrict}}</span> <span *ngIf="userSelectedCity.length > 0">>
                        {{userSelectedCity}}</span></p>
            </div>
            <div class="col-md-4 search-container py-2">
                <form class="form-inline float-right">
                    <div class="form-group mb-2">
                        <input type="text" class="form-control" placeholder="Search District"
                            [(ngModel)]="searchDistrict" [ngModelOptions]="{standalone: true}">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2" (click)="search(searchDistrict)">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row my-2" *ngIf="showCities">
        <div class="col-md-12 col-lg-6 my-2 list-container">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let city of allCities" (click)="selectedCity(city)">{{city}}</li>
            </ul>
        </div>
        <div class="col-md-12 col-lg-6 my-2 map-container" *ngIf="citySelected">
            <agm-map [latitude]="location?.lat" [longitude]="location?.lng" [zoom]="8" [disableDefaultUI]="false"
                [zoomControl]="false">
                <agm-marker [latitude]="location?.lat" [longitude]="location?.lng">
                </agm-marker>
            </agm-map>
        </div>
    </div>
    <div class="col-md-12" *ngIf="!showCities">
        <p class="my-5 py-5 text-center">Please select a state from the dropdown or search by district</p>
    </div>
</div>

<div class="alert alert-danger" role="alert" *ngIf="showAlertMessage">
    Oops! looks like we did not find any states for the selection you made.
</div>