@import "../../styles/variable.scss";

.dropdown-menu {
    max-height: 250px;
    overflow-y: scroll;
    width: 300px;
    li {
        cursor: pointer;
        &:hover {
            background: $theme-blue;
            border-bottom: 1px solid $theme-blue-dark;
        }
    }
}
.list-container {
    height: 500px;
    overflow-y: scroll;
}
.map-container {
    height: 500px;
    agm-map {
        height: 500px;
    }
}
.list-group-item {
    cursor: pointer;
    &:hover {
        background: $theme-blue;
        border-bottom: 1px solid $theme-blue-dark;
    }
}

.dropdown-toggle {
    width: 300px;
}

.search-container {
    input {
        width: 250px;
        border-radius: 0px;
    }
}
