@import "./variable.scss";
@import "./mixins.scss";
@import "~bootstrap/dist/css/bootstrap.css";

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $theme-blue-dark;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $theme-blue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $theme-blue;
}

.btn-primary {
    background: $theme-blue;
    border: 1px solid $theme-blue-dark !important;
    box-shadow: none !important;
    border-radius: 0px;
    &:hover {
        background: $theme-blue-dark !important;
    }
    &:active {
        background: $theme-blue-dark !important;
    }
    &:visited {
        background: $theme-blue-dark !important;
    }
}

.show > .btn-primary.dropdown-toggle {
    background-color: $theme-blue-dark !important;
}

.dropdown-item {
    background: $white;
    &:hover {
        background: $theme-blue !important;
    }
}

.alert {
    position: absolute;
    top: 1%;
    right: 1%;
    width: 280px;
}
