<div class="container-fluid p-0 header">
    <img src="../assets/logo.png" class="img-responsive mx-auto d-block" alt="artivatic-logo">
</div>
<router-outlet></router-outlet>
<div class="container-fluid p-0 footer">
    <p class="text-center py-2">Artivatic Task | Shreyas S Kumar | Lucida Technologies</p>
</div>